
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Vazir;
}
.hamburger-menu {
    display: none;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left : 10%;
    padding-right : 10%;
    font-size: 1rem;


}
.nav-download-bt {
    color: rgb(23,148,255);
    background: rgb(230,240,255);
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: bold;
    border:none;
    border-radius: 10px;
}
.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-li-item {
    padding-right: 20px;
}

.nav-li-item > a{
    text-decoration: none;
    color: rgb(59, 59, 59);
}
.nav-li-item > a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.nav-logo {
    display: flex;
    flex-direction: row;
    direction: rtl;
    padding-top: 0.2rem;
}
.nav-logo-img {
    cursor: pointer;
    width: 40px;
    height: auto;
}
.nav-logo-text {
    padding-right:0.5rem;
    padding-top: 1rem;
    line-height: 1.5rem;
}
/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
}
.header-img {
    width: 500px;
    height: auto;
}
.header-text {
    direction: rtl;
    padding-top: 210px;
}
.header-text > h1 {
    color: rgb(23,148,255)
}
.header-text > p {
    color: rgb(59, 59, 59);
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-text-bt .download{
    color: white;
    background-color: rgb(23,148,255);
    border-color: rgb(23,148,255);
    width: 12rem;
    height: 3rem;
    border-radius: 10px;
}
.header-text-bt .register{
    margin-right: 20px;
    color: black;
    background-color: white;
    border:2px solid rgb(23,148,255);
    width: 12rem;
    height: 3rem;
    border-radius: 10px;
    
}
/* ABOUT AREA */
.about-area {
    display: flex;
    flex-direction: row;
    padding-top:5%;
    padding-left:10%;
    padding-right:10%;
}
.about-area-img{
    padding-left: 2%;
}
.about-area-img > img{
    border-radius: 40px;
}
.about-area-text {
    direction: rtl;
}
.about-area-text {
    direction: rtl;
}
.about-area-text > h2 {
    color: rgb(23,148,255);
    padding-right: 5px;
    border-right: 5px solid rgb(0,222,154);
    border-radius: 3px;
}
.about-area-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.about-area-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding-top: 120px;
}
.about-area-icon{
    padding: 20px;
}
.about-area-icon-img {
    display: flex;
    justify-content: center;
    width: 90px;
    height: 90px;
    box-shadow: 0 0 20px rgba(23,148,255,0.30);
    border-radius: 10px;
}
.about-area-icon-img img{
    width: 50px;
    height: auto;
}
.about-area-icon-text {
    text-align: center;
    padding-top:20px;
    font-size: 12px;
}
/* OPTIONS */
.option {
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
}
.option-title > h2 {
    color: rgb(23,148,255);
    direction: rtl;
    margin-bottom: 20px;
    padding-right: 5px;
    border-right: 5px solid rgb(0,222,154);
    border-radius: 3px;
    margin-right: 160px;
}
.option-content {
    display: flex;
    flex-direction: row;
}
.option-content-text {
    direction: rtl;
}
.option-content-text h3{
    padding-right: 30px;
}
.option-content-text > p{
    padding-right: 30px;
    padding-bottom: 50px;
}
.option-content-text p{
    padding-right: 30px;
    padding-bottom: 20px;
}
.content-step1-title img {
    width: 30px;
    height: auto;
    background-color: rgb(230,240,255);
    border-radius: 50%;
    padding: 8px 8px;
}
.content-step2-title img {
    width: 30px;
    height: auto;
    background-color: rgb(230,240,255);
    border-radius: 50%;
    padding: 8px 8px;
}
.content-step3-title img {
    width: 30px;
    height: auto;
    background-color: rgb(0,222,154);
    border-radius: 50%;
    padding: 5px 5px;
}
.content-steps p {
    padding-right: 125px;
    font-size: 14px;
}
.content-step1-title {
    display: flex;
    flex-direction: row;
    direction: rtl;
}
.content-step2-title {
    display: flex;
    flex-direction: row;
    direction: rtl;
}
.content-step3-title {
    display: flex;
    flex-direction: row;
    direction: rtl;
}
.option-content-icons {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap:50px;
    padding-top: 20px;
    padding-left: 100px;
    padding-bottom: 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "options-shop options-pharmacy"
    "options-schedule options-stethoscope";
}
.option-content-icons img{
    width: 70px;
    height: 70px;
}
.option-content-icon-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
}
.option-content-icon-text {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 14px;
}
.option-content-icon1 {
    grid-area: options-shop;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(23,148,255,0.30);
}
.option-content-icon2 {
    grid-area: options-pharmacy;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(23,148,255,0.30);
}
.option-content-icon3 {
    grid-area: options-schedule;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(23,148,255,0.30);
}
.option-content-icon4 {
    grid-area: options-stethoscope;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(23,148,255,0.30);
}
.download-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(9,141,255);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
.download-area-img > img {
    width: 350px;
    height: auto;
}
.download-area-input{
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: white;
    width: 700px;
    height: 80px;
    border-radius: 20px;
}
.download-area-input button{
    align-self: center;
    color: white;
    border: none;
    background-color: rgb(9,141,255);
    font-size: 20px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
}
.download-area-input input{
    border:none;
    width: 400px;
    font-size: 20px;
}
.download-area-input input:focus{
    outline:none;
}
.download-area-icons {
    padding-top:50px;
    display: flex;
    padding-right: 20px;
    justify-content: space-around;
    
}
.sib-app-logo{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: rgb(35, 97, 181);
    width: 170px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
}
.sib-app-logo-text {
    color: white;
    font-size: 11px;
}
.sib-app-logo-img {
    display: flex;
    padding-left: 5px;
    align-self: center;
}
.bazar-logo{
    display: flex;
    flex-direction: row;
    background-color: rgb(35, 97, 181);
    width: 170px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
}
.bazar-logo-text {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 11px;
}
.bazar-logo-img {
    padding-right: 5px;
    padding-top: 5px;
}
.android-logo{
    display: flex;
    flex-direction: row;
    background-color: rgb(35, 97, 181);
    width: 170px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
}
.android-logo-text {
    display: flex;
    flex-direction: row;
    justify-items: safe;
    align-self: center;
    color: white;
    font-size: 16px;
    padding-right: 8px;
}
.android-logo-img {
    align-self: center;
    padding-right: 5px;
    padding-top: 5px;
}
.download-area-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    direction: rtl;
    height: 30%;
}
.download-area-text > h2 {
    color: white;
    padding-bottom: 100px;
    font-size: 30px;
}
.download-area-icons {
    display: flex;
    flex-direction: row;
}
.register-area {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
.register-area-box {
    display: flex;
    flex-direction: row;
    direction: rtl;
    box-shadow: 0 0 30px rgba(23,148,255,0.3);
    border-radius: 20px;
    margin-bottom: 5%;
}
.register-area-title {
    padding-top: 40px;
    margin-top: 20px;
    margin-bottom: 3%;
    margin-right: 8%;
    direction: rtl;
}

.register-area-title > h2 {
    color: rgb(23,148,255);
    direction: rtl;
    border-right: 5px solid rgb(0,222,154);
    border-radius: 3px;
    margin-bottom: 20px;

}
.register-area-text {
    direction: rtl;
}
.register-area-input{
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: rgb(243, 243, 243);
    width: 700px;
    height: 80px;
    border-radius: 20px;
    margin-right: 10%;
}
.register-area-input > input:focus{
    outline:none;
}
.register-area-input button{
    align-self: center;
    color: white;
    border: none;
    background-color: rgb(9,141,255);
    font-size: 20px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
}
.register-area-input input{
    border:none;
    background-color: rgb(243, 243, 243);
    width: 400px;
    font-size: 20px;
}
/* SUPPORT AREA */
.support-area {
    background-color: rgb(9,141,255);
    padding-left: 10%;
    padding-right: 10%;}
.support-area  button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: white;
    border: none;
    background-color: rgb(35,97,181);
    font-size: 16px;
    width: 300px;
    height: 60px;
    border-radius: 10px;
}
.support-area-container {
    direction: rtl;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    justify-self: center;
    align-self: center;
    height: 150px;
}
.support-area-container p{
    padding-right: 10px;

}
.support-area-text {
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}
.footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* direction: rtl; */
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "ft-dl ft-dl-ttl ft-pgs ft-sv ft-info ft-info"
    "ft-dl ft-dl-logo ft-pgs  ft-sv ft-info ft-info"
    "ft-dl ft-dl-logo ft-pgs  ft-sv ft-info ft-info"
    ;
    padding-left:10%;
    padding-right: 10%;
}
.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: ft-info;
}
.footer-info-logo {
    padding-bottom: 40px;
}

.footer-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: ft-sv;
}
.footer-services-items{
    direction: rtl;
}
.footer-services-items > ul{
    list-style: none;
}
.footer-services-title{
    padding-bottom: 20px;
}
.footer-services-items > ul> li{
    direction: rtl;
    margin-bottom: 30px;
}
.footer-services-items > ul> li > a {
    text-decoration: none;
    color: rgb(83, 83, 83);
}

.footer-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: ft-pgs;
}
.footer-pages-items{
    direction: rtl;
}
.footer-pages-items > ul{
    list-style: none;
}
.footer-pages > h3{
    padding-bottom: 20px;
}
.footer-pages-items > ul > li{
    direction: rtl;
    margin-bottom: 30px;
}
.footer-pages-items > ul > li > a{
    text-decoration: none;
    color: rgb(83, 83, 83);
}
.footer-download {
    grid-area:ft-dl;
}
.footer-download > h3 {
    grid-area:ft-dl;
    padding-bottom: 20px;
    direction: rtl;
}
.footer-download-icons {
    grid-area:ft-dl-logo;
    display: flex;
    flex-direction: row;
    direction: rtl;
}

.footer-sib-app-logo{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    width: 170px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
}
.sib-app-logo-text {
    color: white;
    font-size: 11px;
}
.sib-app-logo-img {
    display: flex;
    padding-left: 5px;
    align-self: center;
}
.footer-bazar-logo{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    width: 170px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    margin-right: 20px;
}
.bazar-logo-text {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 11px;
}
.bazar-logo-img {
    padding-right: 5px;
    padding-top: 5px;
}
.footer-services-items:hover {
    font-weight: bold;
    color: rgb(23,148,255);
    /* background-color: rgb(23,148,255); */
    padding-right: 5px;
    border-right: 3px solid rgb(0,222,154);
    border-radius: 3px;
}

@font-face {
    font-family: Vazir;
    src: url('http://fonts.codearena.ir/rastikerdar/vazir/vazir.eot');
    src: url('http://fonts.codearena.ir/rastikerdar/vazir/vazir.eot?#iefix') format('embedded-opentype'),
            url('http://fonts.codearena.ir/rastikerdar/vazir/vazir.woff') format('woff'),
            url('http://fonts.codearena.ir/rastikerdar/vazir/vazir.ttf') format('truetype');
    font-weight: normal;
    }


    
@media only screen and (max-width: 1060px) {   
    .nav-download-bt {
        display: none;
    }
    .navbar .nav-list{
        display: none;
    }

    /* HEADER */
    .header {
        display: flex;
        flex-direction: column;
    }
    .header-text {
        display: flex;
        direction: rtl;
        padding-top: 2rem;
        flex-direction: column;
        /* justify-content: center; */
        align-items: stretch;
    }
    .header-text-bt {
        display: flex;
        flex-direction: column;

    }
    .header-text-bt .register {
        margin-right: 0;
        margin-top: 1rem;
        height: 4rem;
        width: auto;
    }
    .header-text-bt .download {
        margin-right: 0;
        margin-top: 1rem;
        width: auto;
        height: 4rem;
    }

    .header-pic {
        display: flex;
        justify-content: center;
    }
    .about-area {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .about-area-icons {
        display:none;
    }
    .option-content {
        flex-direction: column-reverse;
    }
    .option-title > h2 {
        flex-direction: column-reverse;
        margin-right: 0px;
        margin-bottom: 40px;
    }
    .option-content-icons {
        padding-top: 0;
        padding-left: 0;
        display: flex;
    }
    .download-area {
        flex-direction: column-reverse;
        justify-items: center;
        align-items: center;
    }
    .download-area-text {
        display: block;
        align-content: center;
    }
    .download-area-icons {
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .sib-app-logo {
        width: 300px;
        height: 80px;
        margin-bottom: 1rem;
    }
    .sib-app-logo-img {
        padding-left: 15px;
    }
    .sib-app-logo-text {
        font-size: 16px;
    }
    .sib-app-logo-text img{
        width: 150px;
        height: auto;
    }
    .sib-app-logo-img img {
        width: 50px;
        height: auto;
    }

    .bazar-logo {
        width: 300px;
        height: 80px;
        margin-bottom: 3rem;
    }
    .bazar-logo-img {
        padding-left: 15px;
    }
    .bazar-logo-text {
        font-size: 16px;
    }
    .bazar-logo-text img{
        width: 100px;
        height: auto;
    }
    .bazar-logo-img img {
        width: 50px;
        height: auto;
    }
    .android-logo {
        display: none;
    }
    .register-area-box {
        flex-direction: column-reverse;
        align-items: center;
    }
    .register-area-text {
        padding-bottom: 3rem;

    }
    .register-area-input {
        margin-right: 5%;
    }
    .support-area {
        height: 12rem;
    }
    .support-area-container {
        flex-direction: column;
    }
    .support-area-text {
        flex-direction: column;
        display: flex;
        margin-bottom: 1rem;

    }
    .support-area button {
        width: 300px;
        height: 120px;
        /* margin-top: 2rem;
        margin-bottom: 2rem; */
    }
    .footer {
        display: flex;
        justify-content: center;
    }
    .footer-info-text {
        direction: rtl;

    }
    .footer-services, .footer-pages, .footer-download {
        display: none;
    }
    .footer-info-sm-icons {
        display: none;
    }
    /* .support-area-text > h3{
        margin-left: auto;
        margin-right: auto;
    } */
}


/* FVFZM2F8L411
MUHQ2LL/A */